# azure-pipelines.yml - configuration for Azure Pipelines
# Copyright (C) 2020 Kaz Nishimura
#
# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty provided the copyright notice and
# this notice are preserved.  This file is offered as-is, without any warranty.
---
trigger:
  - master
  - release/**
  - feature/**
stages:
  - stage: Default
    jobs:
      - job: Build
        pool:
          vmImage: ubuntu-latest
        variables:
          - name: maven.localRepository
            value: $(Agent.BuildDirectory)/.m2/repository
          - group: gpg
        steps:
          - task: DownloadSecureFile@1
            name: Keys
            condition: >-
              startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')
            inputs:
              secureFile: keys.asc
          - task: Cache@2
            inputs:
              key: maven | $(Agent.OS) | **/pom.xml
              path: $(maven.localRepository)
              restoreKeys: |
                maven | $(Agent.OS)
                maven
          - task: Maven@3
            inputs:
              options: -B -Dmaven.repo.local=$(maven.localRepository)
              jdkVersion: "1.8"
          - bash: |
              echo '$(gpg.passphrase)' | \
              sh ./setupkeys.sh '$(Keys.secureFilePath)'
            displayName: Set up signing keys
            condition: >-
              startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')
          - task: MavenAuthenticate@0
            condition: >-
              startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')
            inputs:
              mavenServiceConnections: ossrh
          - task: Maven@3
            displayName: "Maven: deploy"
            condition: >-
              startsWith(variables['Build.SourceBranch'], 'refs/heads/release/')
            inputs:
              goals: package gpg:sign nexus-staging:deploy
              options: -B -Possrh -Dmaven.repo.local=$(maven.localRepository)
              jdkVersion: "1.8"
